html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #f4f5f7;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.default-btn{
  background: #5d2bff;
  color: #fff;
  border-radius: 16px;
  transition: box-shadow .3s ease, background .3s ease;
  position: relative;
  padding: 8px 17px 10px;
  cursor: pointer;

  &.image-btn{
    padding-left: 40px;
    &:before{
      content: '';
      background: url('https://api.iconify.design/fa-solid/plus.svg?color=white') no-repeat center center / contain;
      height: 14px;
      width: 14px;
      position: absolute;
      left: 14px;
      top: 47%;
      transform: translateY(-50%);
    }
  }
}

.transparent-btn{
  border:2px solid transparent;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  position: relative;
  padding: 8px 17px 10px;
  background: #5d2cff66;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom:0;
    width: 0;
    height:2px;
    background: #6098FF;
    box-shadow: inset 0 0 0 #6098FF;
    display: block;
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top:0;
    width: 0;
    height:2px;
    background: #6098FF;
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
  }
  &:hover:before {
    width:100%;
  }
  &:hover:after {
    width:100%;
  }
  &:hover{
    border-left:2px solid #6098FF;
    border-right:2px solid #6098FF;
    border-top: 0;
    border-bottom: 0;
    background: transparent;
  }
}

.mainContainerBody{
  overflow: hidden;
}

.modal-form {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.35);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  .content-wrapper {
    background: #fff;
    border-radius: 10px;
    padding: 45px 25px 40px;
    text-align: center;
    position: relative;
    min-width: 400px;
    .cross {
      position: absolute;
      right: 15px;
      top: 15px;
      cursor: pointer;
    }
    .error {
      color: red;
      margin: 0;
      position: absolute;
      bottom: 13px;
    }
    h1 {
      margin: 0 0 10px;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        width: 100%;
        padding: 15px;
        margin: 10px 0;
        border-radius: 1px;
        border: 1px solid #ccc;
        font-family: inherit;
      }
      button {
        margin: 10px 0 0;
      }
    }
  }
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &:hover:not(.stop),
  &.active,
  &:active:not(.stop),
  &.active {
    .top,
    .bottom {
      &:before,
      &:after {
        margin-left: 260px;
        transform-origin: -260px 50%;
        transition-delay: 0s;
      }
    }

    .center {
      opacity: 1;
      transition-delay: 0.2s;
    }

    .top {
      .feature-image {
        &:nth-of-type(1) {
          left: 25%;
        }
        &:nth-of-type(2) {
          left: 75%;
        }
      }
    }
    .bottom {
      .feature-image {
        &:nth-of-type(1) {
          top: 75%;
          left: 20%;
        }
        &:nth-of-type(2) {
          top: 20%;
          right: 20%;
        }
      }
    }
  }

  .top,
  .bottom {
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 200vmax;
      height: 200vmax;
      top: 50%;
      left: 50%;
      margin-top: -100vmax;
      transform-origin: 0 50%;
      transition: all 0.5s ease;
      z-index: 10;
      opacity: 0.65;
      transition-delay: 0.2s;
    }
  }

  .top {
    .feature-image {
      &:nth-of-type(1) {
        top: 10vh;
        transform: translateX(-50%);
        left: 50%;
        background-image: url("../public/im1.png");
      }
      &:nth-of-type(2) {
        bottom: 10vh;
        transform: translateX(-50%);
        left: 50%;
        background-image: url("../public/im2.png");
      }
    }
    &:before {
      transform: rotate(45deg);
      background-color: #e46569;
    }
    &:after {
      transform: rotate(135deg);
      background-color: #ecaf81;
    }
  }

  .bottom {
    .feature-image {
      &:nth-of-type(1) {
        top: 50%;
        transform: translateY(-50%);
        left: 25vw;
        background-image: url("../public/im3.png");
      }
      &:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        right: 25vw;
        background-image: url("../public/im4.png");
      }
    }
    &:before {
      transform: rotate(-45deg);
      background-color: #60b8d4;
    }
    &:after {
      transform: rotate(-135deg);
      background-color: #3745b5;
    }
  }

  .center {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    transition-delay: 0s;
    color: #333;

    form {
      position: relative;
      padding: 20px 0;
      width: 350px;

      &.sent {
        .forgot-message {
          display: flex;
        }
      }
    }

    input {
      width: 100%;
      padding: 15px;
      margin: 5px 0;
      border-radius: 1px;
      border: 1px solid #ccc;
      font-family: inherit;
    }
    .forgot-message {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: #fff;
      display: flex;
      align-items: center;
      text-align: center;
    }
  }

  h2 {
    text-align: center;
  }

  .bottom-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .feature-image {
    position: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    height: 140px;
    width: 140px;
    z-index: 20;
    transition: all 0.5s ease 0.1s;
  }

  .btn {
    overflow: hidden;
    position: relative;
    border: 1px solid;
    border-radius: 5px;
    padding: 7px 10px 9px;
    transition: border-color 0.3s, color 0.3s;
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    &.disable {
      background: #00000045;
      opacity: 0.5;
      pointer-events: none;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 150%;
      height: 100%;
      background: #37474f;
      z-index: -1;
      transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
      transform-origin: 0% 100%;
      transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
    }
    &:hover:not(.disable) {
      color: #fff;
      border-color: #3f51b5;
      &::before {
        opacity: 1;
        background-color: #3f51b5;
        transform: rotate3d(0, 0, 1, 0deg);
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      }
    }
  }

  .error {
    color: red;
    margin: 0;
    position: absolute;
    bottom: -10px;
  }
}

.drop-trash-can{
  position: absolute;
  right: 130px;
  top: 0px;
  height: 40px;
  width: 40px;
  padding: 3px;
  border-radius: 9px;
  &:hover{
    background: #f1f1f1;
  }
  svg{
    height: 100%;
    width: 100%;
  }
}

.filter-wrapper{
  display: flex;
  flex-direction: column;
  p{
    position: relative;
    margin: 0 0 10px;
  }
  select{
    position: relative;
    appearance: none;
    background-repeat: no-repeat;
    border: 1px solid #00000057;
    padding: 5px 25px 5px 10px;
    border-radius: 30px;
    width: 160px;
    outline: none;
    background-position-y: center;
    background-position-x: calc(100% - 6px);
    background-image: url("https://api.iconify.design/pepicons/angle-down.svg?color=%236d6d73");
  }
}

.user-panel {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  overflow: auto;
  justify-content: space-between;
  h4 {
    width: 100%;
  }

  .user-list {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 40px;
    height: 100%;

    .description {
      height: 200px;
      overflow: hidden;
    }
    .list {
      height: calc(100% - 193px);
      overflow: auto;

      .user {
        display: flex;
        position: relative;
        padding-left: 50px;
        height: 44px;
        margin: 15px 0;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        .icon {
          position: absolute;
          left: 0;
          background: orange;
          border-radius: 50%;
          padding: 10px;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          height: 35px;
          width: 35px;
          font-weight: 700;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          span {
            display: block;
            visibility: hidden;
            position: absolute;
            left: 12px;
            top: 8px;
            &:first-letter {
              visibility: visible;
            }
          }
        }
        .name {
          text-transform: capitalize;
        }
        .email {
          color: #959595;
        }
        &.invite {
          color: #235c75;
          span {
            padding: 0;
            background: transparent;
            img {
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  }
  .project-list-space {
    width: calc(100% - 350px);
    height: 100vh;
    overflow: auto;
    h4 {
      padding-left: 20px;
    }
    .project-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
      grid-gap: 32px;
      padding-right: 30px;
      max-height: calc(100% - 61px);
      overflow: auto;

      .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 20px;
        width: 130px;
        line-height: 1.35;
        cursor: pointer;

        img {
          height: 130px;
          width: 100%;
          padding: 45px;
          border-radius: 10px;
          background: darkred;
          margin-bottom: 10px;
        }

        &:nth-of-type(1) {
          img {
            border: 2px dashed #0006;
            background: transparent;
          }
        }
      }
    }
  }
}

.common-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 50px;
  height: 90px;


  .user-profile{
    position: relative;
    height: 40px;
    width: 40px;
    cursor: pointer;
    .icon {
      position: absolute;
      left: 0;
      background: orange;
      border-radius: 50%;
      padding: 10px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      height: 100%;
      width: 100%;
      font-weight: 700;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      span {
        display: block;
        visibility: hidden;
        position: absolute;
        left: 14px;
        top: 50%;
        transform: translateY(-50%);
        &:first-letter {
          visibility: visible;
        }
      }
    }
  }

}

.top-panel-row{
  display: flex;
  justify-content: space-between;
  padding: 0 30px 30px 50px;

  .layout-toggle{
    position: relative;
    .icon{
      cursor: pointer;
      margin: 0 10px;
      &.active{
        pointer-events: none;
        svg{
          path{
            fill:#5d2bff;
          }
        }
      }
    }
    .trash-can{
      height: 49px;
      width: 100px;
      display: inline-block;
      position: absolute;
      left: -150px;
      top: -17px;
      border-radius: 10px;
      svg{
        height: 100%;
        width: 100%;
      }
      &:hover{
        background: #0000001f;
      }
    }
  }
}

.project-space-wrapper{
  height: calc(100vh - 141px);
  overflow: auto;
  background: #fff;
  border-radius: 10px;
  margin: 0 20px 0;
  &.grid{
    .user-projects{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      grid-gap: 32px;
      grid-auto-flow: row;
      overflow: visible;
      .projectCard {
        width: 180px;
        height: 180px;
        h5{
          -webkit-line-clamp: 4!important;
        }
      }
      &.center{
        .projectCard {
          margin: 0 auto;
        }
      }
    }
  }
  .projectContainer{
    padding: 0 15px 30px;
    h1{
      margin-bottom: 0;
      padding-left: 5px;
      color: #303037;
      font-size: 25px;
    }
  }
}

.user-projects {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(160px, 1fr);
  overflow-x: auto;
  padding: 22px 10px;

  .projectCard {
    border-radius: 10px;
    text-align: center;
    box-shadow: 3px 8px 14px #a7a6a6;
    width: auto;
    max-width: 200px;
    position: relative;
    &.shared{
      h2{
        padding-top: 10px;
      }
      h5{
        padding-bottom: 30px;
      }
    }
    h2{
      padding: 40px 15px 10px;
      margin: 0;
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize;
    }
    h5{
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      padding: 0 15px;
      font-weight: 500;
      font-family: monospace;
      text-transform: capitalize;
    }
    .delete{
      top: 8px;
    }
    .leave{
      bottom: 8px;
    }
    .delete,.leave{
      position: absolute;
      cursor: pointer;
      background: transparent;
      height: 25px;
      width: 25px;
      border: 0;
      padding: 0;
      right: 8px;
      svg{
        height: 100%;
        width: 100%;
      }
    }
  }
}

.project-data{
  background: #fff;
  border-radius: 10px;
  margin: 0 20px 0;
  height: calc(100vh - 91px);
  padding: 20px;
  .tab-list{
    border-bottom: 1px solid #d7d7da;
    padding: 0 0 15px;
    margin-bottom: 9px;
    span{
      font-size: 16px;
      padding: 0 10px;
      margin: 0 10px;
      font-weight: 500;
      -webkit-font-smoothing: antialiased;
      cursor: pointer;
      &.active{
        color: #5d2cff;
        position: relative;
        &:after{
          content: '';
          position: absolute;
          width: calc(100% + 20px);
          left: -10px;
          bottom: -16px;
          height: 2px;
          background: #5d2cff;
        }
      }
    }
  }
  .top-panel-row{
    border-bottom: 1px solid #00000057;
    margin-bottom: 20px;
    padding: 5px 10px 16px;
    align-items: center;
  }
  .task-list-box{
    height: calc(100% - 33px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    &.rowLayout{
      .taskListContainer{
        flex-direction: column;
        overflow: auto;
        .taskList{
          flex-direction: row;
          min-width: auto;
          max-width: none;
          width: 100%;
          .list-wrapper{
            display: flex;
            .task{
              min-width: 200px;
              max-width: 200px;
              height: 100px;
              justify-content: space-between;
              margin-right: 15px;
            }
          }
        }
      }
    }
    .taskListContainer {
      display: flex;
      align-items: end;
      grid-gap: 32px;
      max-height: calc(100% - 69px);
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      .taskList{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(241, 241, 241);
        padding: 60px 0 5px;
        max-height: 100%;
        border-radius: 10px;
        position: relative;
        min-width: 250px;
        max-width: 250px;
        .list-header{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          padding: 23px 8px;
          .header-content{
            display: flex;
            flex-wrap: wrap;
            width: calc(100% - 65px);
          }
          h5{
            font-size: 17px;
            margin: 0 10px 0 0;
            text-transform: capitalize;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: calc(100% - 45px);
            span{
              opacity: 0.5;
            }
          }
          .delete,.add{
            position: relative;
            border: 0;
            outline: none;
            padding: 0;
            cursor: pointer;
            height: 25px;
            width: 25px;
            top: -2px;
            background: transparent;
            svg{
              width: 100%;
              height: 100%;
            }
          }
          .add{
            margin-right: 10px;
          }
        }
        .list-wrapper{
          height: 100%;
          width: 100%;
          overflow: auto;
          padding: 0 10px;
        }
      }
      .add-task-list{
        cursor: pointer;
        border-radius: 25px;
        background-color: #f1f1f1;
        border: 0;
        outline: none;
        overflow: hidden;
        padding: 5px;
        display: flex;
        align-items: center;
        position: relative;
        min-height: 40px;
        min-width: 40px;
        transition: 0.5s;
        justify-content: space-between;
        svg{
          height: 100%;
          width: 25px;
          margin-left: 3px;
        }
        span{
          position: absolute;
          margin-left: 40px;
          width: 130px;
        }
        &:hover{
          min-width: 180px;
        }
      }
    }
  }
}

.task {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 3px 8px 14px #a7a6a6;
  box-shadow: 3px 8px 14px #a7a6a6;
  width: 100%;
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  .status{
    display: none;
  }
  .name{
    position: relative;
    text-align: left;
    text-transform: capitalize;
    font-size: 15px;
    max-width: calc(100% - 30px);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .tags{
    display: flex;
    overflow: auto;
    span{
      background: #b39ddb8a;
      padding: 4px 8px;
      border-radius: 25px;
      font-size: 12px;
      text-transform: capitalize;
      margin: 15px 8px 0 0;
      cursor: pointer;
    }
  }
  .delete{
    position: absolute;
    right: 6px;
    top: 6px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    svg{
      height: 100%;
      width: 100%;
    }
  }
  &:nth-last-of-type(1){
    margin-bottom: 20px;
  }
}

.settings-tab{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  .tab-list{
    width: 300px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
  }
  .tab-container{
    width: calc(100% - 350px);
  }
}