.projectPage {
  padding: 2%;
}

.infoBanner {
  border: 1px solid beige;
  margin: 2%;
  padding-left: 3%;
  background-color: bisque;
}

.addTaskList {
  display: flex;
}

.taskListContainer {
  display: flex;
  margin: 30px;
  min-height: 40vh;
}
